:root {
  --darker: #000d08;
  --dark: #01261c;
  --mid: #3e5951;
  --light: #94a6a1;
  --lighter: #f2f2f2;
  /* -------------------- */
  --background: #f2f2f2;
  --text: #000d08;
  --card: #94a6a1;
  --footer: #01261ca6;
}

/*! CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62, 5%;
}
/*! --------- */

#root {
  background-color: var(--background);
  color: var(--text);
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
