input[type="search"] {
  border-color: transparent;
  padding: 0.6rem;
  margin: 0.5rem;
  border-radius: 15px;
  width: 35%;
  font-size: 1rem;
  transition: transform 0.4s;
}

input[type="search"]:focus {
  outline: 2px solid var(--dark);
}

input[type="search"]::-webkit-search-cancel-button {
  color: red;
}

@media only screen and (max-width: 768px) {
  input[type="search"] {
    width: 75%;
  }
}
